<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1.0, initial-scale=1.0" />
    <title>Users Basic HTML</title>
  </head>
  <body>
    <h1>A user called <%= newUser.uname %> is created in DB Successfully!!!</h1>
  </body>
</html>
