<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1.0, initial-scale=1.0" />
    <title>Users Basic HTML</title>
  </head>
  <body>
    <h1>Welcome to Single Users Info Page</h1>
    <h3><%= singleUser.uname %></h3>
    <h4><%= singleUser.uage %></h4>
    <h5><%= singleUser.uemail %></h5>
  </body>
</html>
